.App {
  font-family: sans-serif;
  padding: 16px;
}

.Crop-Controls {
  margin-bottom: 10px;
}
.Crop-Controls > * {
  margin-bottom: 3px;
}

img {
  max-width: 100%;
}

.filebox {
  display: flex;
  align-items: center;
  width: fit-content;
  margin-bottom: 20px;
}

.filebox label {
  width: 60px;
  padding: 12px 12px;
  color: white;
  text-align: center;
  background-color: #3279b7;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 10px;
  transition: background-color 0.1s ease-in-out;
}

.filebox label:hover {
  background-color: #418ac9;
}

.filebox label:active {
  background-color: #2b6597;
}

.filebox input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.toggle button {
  padding: 12px 12px;
  margin-top: 12px;
  margin-bottom: 20px;
  color: white;
  font-size: 14px;
  text-align: center;
  background-color: #3279b7;
  cursor: pointer;
  border-radius: 6px;
  outline: none;
  border: none;
  transition: background-color 0.1s ease-in-out;
}

.toggle button:hover {
  background-color: #418ac9;
}

.toggle button:active {
  background-color: #2b6597;
}

.submit button {
  padding: 12px 12px;
  color: white;
  font-size: 16px;
  text-align: center;
  background-color: #3279b7;
  cursor: pointer;
  border-radius: 6px;
  outline: none;
  border: none;
  transition: background-color 0.1s ease-in-out;
}

.submit button:hover {
  background-color: #418ac9;
}

.submit button:active {
  background-color: #2b6597;
}

.option-box {
  display: flex;
  font-size: 18px;
  align-items: center;
}

.option-box label {
  margin-right: 8px;
}

#scale-input {
  border: 1px solid;
  border-radius: 4px;
  padding: 6px 8px;
  width: 40px;
  text-align: center;
}

#rotate-input {
  border: 1px solid;
  border-radius: 4px;
  padding: 6px 8px;
  width: 40px;
  text-align: center;
}
